---
import '../styles/globals.css';
import { AppShell } from '../components/AppShell';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>sol</title>
	</head>
	<body>
		<AppShell client:load />
	</body>
</html>
